.overview-picture {
  background-image: url(../img/overview.jpg);
}
.workbook-picture {
  background-image: url(../img/workbook.jpg);
}

.feedback-picture {
  background-image: url(../img/feedback.jpg);
}

.feature-picture {
  background-image: url(../img/feature.jpg);
}

.dreams-picture {
  background-image: url(../img/dreams.jpg);
}
.application-picture {
  background-image: url(../img/red.jpg);
}
.sample-picture {
  background-image: url(../img/book.jpg);
}
.meditation-picture {
  background-image: url(../img/ahead.jpg);
}
.workshop-picture {
  background-image: url(../img/beach.jpg);
}
.start-picture {
  background-image: url(../img/flower.jpg);
}
.faqs-picture {
  background-image: url(../img/kobe.jpg);
}
.reasons-picture {
  background-image: url(../img/fish.jpg);
}
.faq-picture {
  background-image: url(../img/bloom.jpg);
}
.modules-picture {
  background-image: url(../img/mountain.jpg);
}
.lifestudy-picture {
  background-image: url(../img/page.jpg);
}
.depthcontext-picture {
  background-image: url(../img/coral.jpg);
}
.l-integration-picture {
  background-image: url(../img/blur.jpg);
}
.l-experience-picture {
  background-image: url(../img/adventure.jpg);
}
.contact-picture {
  background-image: url(../img/sunny.jpg);
}
.support-picture {
  background-image: url(../img/autumn.jpg);
}
.refer-picture {
  background-image: url(../img/trees.jpg);
}

hr {
  display: inline-block;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 5px;
  border:0px;
  height: 2px;
//  border: .5px solid grey;
  background-image: linear-gradient(90deg, rgba(0,0,0,.05) 0%,
                                            rgba(0,0,0,.1) 100%);
}

.work-hr {
  padding-left: 5rem;
  padding-right: 5rem;
}
.mod-hr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.inside-nav-container {
    text-align: center;
    // overflow: hidden;
}

.inside-nav {

  position: relative;
  display: inline-block;

    li {
        font-size: $default-font-size;
        list-style: none;
        display: inline-block;
      a {

        &:link,
        &:visited {
          text-decoration: none;
          color: teal;
          margin-right: 1rem;
          margin-left: 1rem;
          padding-bottom: 3px;
          border-bottom: 1px solid transparent;
        }
        &:hover,
        &:active {
            border-bottom: 1px solid teal;
        }
      }

    }

}
.vert {
  font-size: $default-font-size;
}
.samplereading {
  text-align: center;

  .para-sample {

    ol {
      list-style: none;
      font-size: 1.5rem;
     counter-reset: my-awesome-counter;

      li {
       counter-increment: my-awesome-counter;

        &::before {
         content: counter(my-awesome-counter) ". ";
          color: teal;
          font-weight: bold;
          padding-right: .5rem;
        }
      }
    }
    p {
      text-align: center;
    }
  }

}
