{
  "name": "DHWebsite-master",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":null}"
    },
    {
      "path": "navigation.kit",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"compiler-kit\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/main.scss",
      "imports": [
        "sass/abstracts/_functions.scss",
        "sass/abstracts/_mixins.scss",
        "sass/abstracts/_variables.scss",
        "sass/base/_animations.scss",
        "sass/base/_base.scss",
        "sass/base/_typography.scss",
        "sass/base/_utilities.scss",
        "sass/components/_button.scss",
        "sass/components/_contact.scss",
        "sass/components/_footer.scss",
        "sass/components/_togglepara.scss",
        "sass/layout/_banner.scss",
        "sass/layout/_content.scss",
        "sass/layout/_grid.scss",
        "sass/layout/_header.scss",
        "sass/layout/_navigation.scss",
        "sass/pages/_home.scss"
      ]
    },
    {
      "path": "meditation.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "dreams.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "features.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "feedback.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "house.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "index.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "ira.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "overview.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "recent.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "workbook.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "introduction.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "application.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "samplereading.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "workshop.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "reasons.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "faq.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "start.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "modules.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "depthcontext.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "l-integration.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "l-experience.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestudy.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "faqs.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "contact.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "support.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "refer.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "endorse.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "join.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "leader.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "background.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "description.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "staff.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "cont-edu.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "therapy.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "therapy-credits.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "therapy-endorse.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "nursing.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "nursing-benefits.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "nursing-credits.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "nursing-endorse.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "nursing-workshop.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "nursing-article.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "life-stories.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/cancer.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/fran.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/leukemia.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/gayle.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/gerald.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/liz.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/rose.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/mathers.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/nan.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/patricia.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/beverly.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/maire.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/lucille.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/pam.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/christine.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/kendra.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/pam-pete.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/amira.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "articles.kit",
      "imports": [
        "navigation.kit",
        "footer.kit"
      ]
    },
    {
      "path": "lifestories/antony.kit",
      "imports": [
        "navigation-two.kit",
        "footer.kit"
      ]
    },
    {
      "path": "articles/path-article.kit",
      "imports": [
        "navigation-two.kit",
        "footer-two.kit"
      ]
    },
    {
      "path": "articles/new-times.kit",
      "imports": [
        "navigation-two.kit",
        "footer-two.kit"
      ]
    },
    {
      "path": "articles/way-journal.kit",
      "imports": [
        "navigation-two.kit",
        "footer-two.kit"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}