.u-center-text {
    text-align: center !important; //inline block get centered in the parent...
}

.u-center-text-div {
    // margin: 0 auto !important;
    // text-align: center;
    display: inline-block;
}

.u-center-left {
    text-align: left !important;
}

.u-italicize-text {
  font-style: italic;
}

.normal-font {
  font-weight: normal !important;
}

.no-margin {
  margin: 0 !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}


.u-margin-right-medium {
    margin-right: 3rem !important;
}
.u-margin-left-medium {
    margin-left: 3rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-small-1 {
    margin-bottom: 1rem !important;
}

.u-margin-bottom-small-2 {
    margin-bottom: 2.5rem !important;
}

.u-margin-top-big {
    margin-top: 8rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

.u-margin-top-small {
    margin-top: 1.5rem !important;
}
.u-margin-top-small-1 {
    margin-top: 1rem !important;
}
.u-margin-top-small-2 {
    margin-top: 2.5rem !important;
}


.small-font-p {
  margin-bottom: 2.5rem !important;
  p {
    font-size: 1.5rem !important;
  }
}

.n-tr {
  background-color: #fcfcfc !important;
}
.color-blue {
  color: #fff;
  background-color: teal;
}



// Testing
.hero {
    height: 60rem;
    position: relative;
    margin: 8rem 0;
}


.hero:hover .hero__quote { transform: translateX(1.5rem); }
.hero:hover .hero__img { transform: translateX(-1.5rem); }
.hero:hover .hero__overlay { background-color: rgba(0,0,0,0.3); }

.hero__quote:hover + .hero__overlay { background-color: rgba(0,0,0,0.7); }

.hero__quote {
    position: absolute;
    font-size: 2.2rem;
    padding: 3rem;
    font-style: italic;
    top: 9rem;
    left: 10%;
    max-width: 40rem;
    color: #F9FAFA;
    z-index: 10;
    transition: transform 0.5s;
}

.hero__img {
    width: calc(100% + 2rem);
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 5;
    transition: transform 0.5s;
}

.hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    z-index: 9;
    transition: background-color 0.5s;
}

#hero__img-1 { background-image: url(img/why-js-back-1.jpeg); }
#hero__img-2 { background-image: url(img/why-js-back-2.jpeg); }
